#scene-container {
    display: flex;
    justify-content: center;
}

#download-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    bottom: 5%;
    right: 5%;
    position: absolute;
    display: inline-block;
    font-size: 18px;
}

#btn-bg {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    bottom: 5%;
    left: 5%;
    position: absolute;
    display: inline-block;
    font-size: 18px;
}


